<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>v-else</title>
    <script src="../vue.global.js"></script>
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app">
      <button @click="awesome = !awesome">Toggle</button>
      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no 😢</h1>
      <input v-model="type" />
      <div v-if="type === 'A'">A</div>
      <div v-else-if="type === 'B'">B</div>
      <div v-else-if="type === 'C'">C</div>
      <div v-else>Not A/B/C</div>
    </div>
    <script type="module">
      const { createApp } = Vue;
      const App = {
        data() {
          return {
            awesome: true,
            type: "A",
          };
        },
      };

      createApp(App).mount("#app");
    </script>
  </body>
</html>
